<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!--
# Output to a log file with DEBUG level
log4j.appender.ROLLOVER_FILE_DEBUG=org.apache.log4j.RollingFileAppender
log4j.appender.ROLLOVER_FILE_DEBUG.File=workspace/log/app_debug.log
log4j.appender.ROLLOVER_FILE_DEBUG.MaxFileSize=10000KB
log4j.appender.ROLLOVER_FILE_DEBUG.MaxBackupIndex=2
log4j.appender.ROLLOVER_FILE_DEBUG.Threshold=DEBUG
log4j.appender.ROLLOVER_FILE_DEBUG.layout=org.apache.log4j.PatternLayout
log4j.appender.ROLLOVER_FILE_DEBUG.layout.ConversionPattern=%d{yy/MM/dd HH:mm:ss} %-6p(%F:%L) - %m%n
-->




	<appender name="infologs" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/logs/info111.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout" >
			<param name="ConversionPattern" value="[%t] %d{MM-dd-yyyy HH:mm:ss,SSS} %-5p %F %L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="INFO" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>	
	<appender name="fatalogs" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/var/log/logger/app/connect/fatallogs.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout" >
			<param name="ConversionPattern" value="[%t] %d{MM-dd-yyyy HH:mm:ss,SSS} %-5p %F %L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="FATAL" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	<appender name="debuglogs" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/var/log/logger/app/connect/debuglogs.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout" >
			<param name="ConversionPattern" value="[%t] %d{MM-dd-yyyy HH:mm:ss,SSS} %-5p %F %L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="DEBUG" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>
	<appender name="errorlogs" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/var/log/logger/app/connect/errorlogs.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout" >
			<!-- <param name="ConversionPattern" value="%d{MM-dd-yyyy HH:mm:ss,SSS} %-5p %l - %m%n" />-->
			<param name="ConversionPattern" value="[%t] %d{MM-dd-yyyy HH:mm:ss,SSS} %-5p %F %L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter" />
	</appender>	
	
	
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t] %d{MM-dd-yyyy HH:mm:ss,SSS} %-5p %F %L - %m%n" />
		</layout>
	</appender>	

	<root>
		<priority value="INFO" />
		<appender-ref ref="infologs" />		
		<appender-ref ref="fatalogs" />
		<appender-ref ref="debuglogs" />
		<appender-ref ref="errorlogs" />		
		<appender-ref ref="console" />
	</root>

</log4j:configuration>